.name > svg, .surname> svg {
    stroke: white;
    stroke-width: 2px;
    fill: #8a0200;
    cursor: pointer;
    
}

#draw-shadow {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.64));
}

/* Capital Letters */
/* Draw borders */
.draw-me{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: draw 1000ms linear forwards;
}

@keyframes draw {
    0%{stroke-dashoffset: 1200;}
    100%{stroke-dashoffset: 0;}
}

/* Initial animation */
@media screen and (min-width: 992px) {
    .capital-m{
        animation: colorChange 2200ms linear 1000ms;
    }
    .capital-g{
        animation: colorChange 2200ms linear 3500ms;
    }
}

@keyframes colorChange {
    0%{fill: #8a0200;}
    5%{fill: #c5413f;}
    95%{fill: #c5413f;}
    100%{fill: #8a0200;}
}

/* Hover after initial animation */
#name:hover #m {
    fill: #c5413f;
}

#surname:hover #g{
    fill: #c5413f;
}

/* Body Letters */
.text-svg{
    transition: all 280ms ease-in-out;
    width: 0px;
}

/* Initial animation */
@media screen and (min-width: 992px) {
    .show-name{
        animation: showText 1500ms ease-in-out 1500ms;
    }

    .show-surname{
        animation: showText 1500ms ease-in-out 4000ms;
    }
}

@keyframes showText {
    0%{width: 0px;}
    40%{width: 432.95000000000005px;}
    60%{width: 432.95000000000005px;}
    100%{width: 0px;}
}

/* Hover after initial animation */
@media screen and (min-width: 992px) {
    #name:hover #name_body {
        transition: width 500ms ease-in-out;
        width: 432.95000000000005px;
    }

    #surname:hover #surname_body {
        transition: width 500ms ease-in-out;
        width: 432.95000000000005px;
    }
}

/* Animation subtitle */

#subtitle {
    height: 30px;
    opacity: 0;
    padding-top: 30px;
}

@media screen and (max-width: 992px) {
    #subtitle{
        animation: fadein 500ms linear 1600ms forwards;
    }
}

@media screen and (min-width: 992px) {
    #subtitle{
        animation: fadein 500ms linear 6.5s forwards;
    }
}

@keyframes fadein {
    0%{padding-top: 30px; opacity: 0;}
    100%{padding-top: 0px; opacity: 1;}
}